<%- include("../partials/header") %>
<div class="blog-block">
    <h1 class="blog-head">PROJECTS</h1>
    <hr>
    <% if(foundProjects.length === 0){ %>
        <div class="blg">
                <h1> Coming Soon! <i class="fas fa-laptop-code"></i> </h1>
        </div>
    <% }else{ %>
        <%foundProjects.forEach(function(project){%>
            <div class="blg">
                <h1> <a href="<%= blog.url %>" target="_blank"><%= project.title %> </a> </h1>
                <p> <%= project.subtitle %> </p>
            </div>
        <%});%>
    <% } %>
</div>
<%- include("../partials/footer") %>